* {
  margin: 5px;
  font-family: Arial;
}

h1 {
  margin: 10px;
}

a, a:visited {
  font-style: normal;
  text-decoration: none;
  color: black;
}

a:hover {
  font-style: italic;
  text-decoration: underline;
  color: #E53B2C;
}

.new, .back {
  border: 2px solid #E53B2C;
  display: inline-block;
  padding: 5px;
}

button {
  padding: 8px;
  background-color: #E53B2C;
  color: white;
  border: none;
  font-size: 15px;
}
